<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/style.css" />
    <title>My Pizzeria</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic" rel="stylesheet">
  </head>
  <body>


    <header class="header">
        <div class="container">
          <div class="header_inner">
            <div class="header_logo">My Pizza</div>
            <nav class="nav">
              <a class="nav_link" href="#">About</a>
              <a class="nav_link" href="#">About</a>
              <a class="nav_link" href="#">About</a>
              <a class="nav_link" href="#">About</a>

            </nav>
          </div>

        </div>
    </header>
    <div class="intro">
      <div class="container">
      </div>
    </div>

  </body>
</html>
